extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        //- Replace with your name
        h1 Alex Skiba

        //- Feel free to personalize the title below
        p.subtitle Full Stack JavaScript Developer


        .about-bio

          //- Replace the boilerplate below with your best elevator pitch
          p Hey there, 
            br  
            | I've been coding for personal projects for over 10 years now, started with coding bots for IRC and a little bit of cheating in video game.
            br
            | After that I decided to try and make mobile Apps. Recently switched to working with hybrid development tools like cordova and react native.
          p Due to covid my most recent project was shut down,
            br
            | it was a POS system for food trucks, that also allowed the customer to order online via a mobile app.
            br
            | Now that I start a new chapter I am looking for a new home.
            br
            | As a naturally curious individual i believe that I can contribute to your project as well.


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li jQuery
          li Git Version Control
          li Node.js
          li MySql
          li MongoDB
          li Firebase
          li React
          li Angular
          li React Native
          
        h6 Contact Info

        ul
          li 
            a(href="tel:5016134399") (501) 613-4399
          li 
            a(href="mailto:skibaalex1@gmail.com") Skibaalex1@gmail.com

        a.btn-link(href='https://github.com/skibaalex') GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back