extends layout.pug

block content

  article.portfolio-intro
    h1 Hey, Potential Employers
    p.subtitle A little Taste of what's possible, each project aims to demonstrate different skills and abilities.


  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`${project.previewImg}`, alt=`image of ${project.project_name.toLowerCase()} project`)
            h5 #{project.project_name}

