extends layout.pug


block content
  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-intro
        img.error-msg(src=`/static/images/404_Error.jpeg`, alt=`error message illustration`)

  nav.nav
    a(href='/')
      span &larr;
      |  Back